@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Black'), local('Source-Sans-Pro-Black'),
        url('SourceSansPro-Black.woff2') format('woff2'),
        url('SourceSansPro-Black.woff') format('woff'),
        url('SourceSansPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }