@font-face {
    font-family: 'Apercu Pro';
    src: local('Apercu Pro Medium'), local('Apercu-Pro-Medium'),
        url('ApercuPro-Medium.woff2') format('woff2'),
        url('ApercuPro-Medium.woff') format('woff'),
        url('ApercuPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }