@font-face {
    font-family: 'Apercu Pro';
    src: local('Apercu Pro Black'), local('Apercu-Pro-Black'),
        url('ApercuPro-Black.woff2') format('woff2'),
        url('ApercuPro-Black.woff') format('woff'),
        url('ApercuPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }