
/* FONTS */
html {
  scroll-behavior: smooth;
}

* { box-sizing: border-box; }

@font-face {
    font-family: 'Apercu Pro';
    src: local('Apercu Pro Black'), local('Apercu-Pro-Black'),
        url('../fonts/ApercuPro-Black/ApercuPro-Black.woff2') format('woff2'),
        url('../fonts/ApercuPro-Black/ApercuPro-Black.woff') format('woff'),
        url('../fonts/ApercuPro-Black/ApercuPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }

@font-face {
    font-family: 'Apercu Pro';
    src: local('Apercu Pro Medium'), local('Apercu-Pro-Medium'),
        url('../fonts/ApercuPro-Medium/ApercuPro-Medium.woff2') format('woff2'),
        url('../fonts/ApercuPro-Medium/ApercuPro-Medium.woff') format('woff'),
        url('../fonts/ApercuPro-Medium/ApercuPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }


  @font-face {
    font-family: 'Apercu Pro';
    src: local('Apercu Pro Regular'), local('Apercu-Pro-Regular'),
        url('../fonts/ApercuPro-Regular/ApercuPro-Regular.woff2') format('woff2'),
        url('../fonts/ApercuPro-Regular/ApercuPro-Regular.woff') format('woff'),
        url('../ApercuPro-Regular/ApercuPro-Regular.ttf') format('truetype');
    font-weight/fonts: 400;
    font-style: normal;
  }


  @font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Black'), local('Source-Sans-Pro-Black'),
        url('../fonts/SourceSansPro-Black/SourceSansPro-Black.woff2') format('woff2'),
        url('../fonts/SourceSansPro-Black/SourceSansPro-Black.woff') format('woff'),
        url('../fonts/SourceSansPro-Black/SourceSansPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }


@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Bold'), local('Source-Sans-Pro-Bold'),
        url('../fonts/SourceSansPro-Bold/SourceSansPro-Bold.woff2') format('woff2'),
        url('../fonts/SourceSansPro-Bold/SourceSansPro-Bold.woff') format('woff'),
        url('../fonts/SourceSansPro-Bold/SourceSansPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Regular'), local('Source-Sans-Pro-Regular'),
        url('../fonts/SourceSansPro-Regular/SourceSansPro-Regular.woff2') format('woff2'),
        url('../fonts/SourceSansPro-Regular/SourceSansPro-Regular.woff') format('woff'),
        url('../fonts/SourceSansPro-Regular/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }


@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Semi Bold'), local('Source-Sans-Pro-Semi-Bold'),
        url('../fonts/SourceSansPro-SemiBold/SourceSansPro-SemiBold.woff2') format('woff2'),
        url('../fonts/SourceSansPro-SemiBold/SourceSansPro-SemiBold.woff') format('woff'),
        url('../fonts/SourceSansPro-SemiBold/SourceSansPro-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }


body {
	margin: 0px;
	padding: 0;
	background-color: #fff;
}

.primary-color {
	color: #B08D51;
}

.primary-bg-color {
	background-color: #B08D51;
}

.secondary-color {
	color: #FFFCDF
}

.secondary-bg-color{
	background-color: #FFFCDF;
}
 




.wrapper {
	display: flex;
}

.left {
	width: 80%;
}

.right {
	width: 20%;
	background-color: #B08D51;
}

@media only screen and (max-width: 640px){
	.wrapper {
		display: block;
	}
	.left {
		width: 100%;
		box-sizing: border-box;
	}
	.right {
		width: 100%;
		box-sizing: border-box;
	}
}

.banner {
	background-image: url(../images/banner.png);
	background-size: cover;
	padding-bottom: 37px;
}

.bannerContent {
	max-width: 855px;
	margin: 0 auto;
}

.logo {
	padding-top: 60px;
}

.banner h1 {
	font-size: 9em;
	text-align: center;
	font-family: Source Sans Pro;
	color: #FFFCDF;
	margin-top: 173px;
	margin-bottom: 62px;
}

.titleBanner {
	 font-size: 2em;
	 color: #FFFFFF; 
	 letter-spacing: 3.73px; 
	 text-align: center;
	 font-family: Source Sans Pro;
	 font-weight: Bold;
	 margin-top: 31px;
}

.description{
	font-size: 1.5em;
	color: #FFF;
	text-align: center;
	font-family: Source Sans Pro;
	margin-top: 0px;
}

.subhead svg {
	text-align: center;
	width: 100%;
}


.sidebarContents {
	padding-top: 4.125em;
	text-align: center;
	max-width: 270px;
	margin: 0 auto;
}

.sidebarContents .link {
	font-family: Source Sans Pro;
	font-size: 1.125em;
	text-decoration: underline;
	color: #fff;
}

.subContents {
	margin-top: 18em;
}

.subContents p {
	color: #fff;
	font-family: Source Sans Pro;
	font-size: 1.5em;
	margin-bottom: 3.313em;
	padding: 0 15px;
}

.clickButton {
	background: #FFFCDF; 
	border-radius: 75px; 
	font-family: Apercu Pro; 
	font-size: 1.5em;
	font-weight: bold;
	line-height: 26px;
	color: #53514D; 
	text-align: center; 
	text-decoration: none;
	padding: 20px 33px;

}
.secondText {
	padding-top: 20px;
}

.mainContent {
	max-width: 855px;
	margin: 0 auto;
	padding-top: 8.375em;
	text-align: center;
	padding-bottom: 7.375em;
}

.mainContent h1 {
	color: #53514D;
	font-family: Source Sans Pro;
	font-size: 4.063em;
	margin: 0;
	margin-bottom: 50px;
	text-transform: uppercase;
}

.mainContent .subDescription {
	color: #53514D;
	font-family: SourceSansPro-Regular;
	font-size: 1.750em;
	margin: 0px;
	margin-bottom: 63px;
}

.mainContent .columns {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 5px 0;
}


.mainContent .column {
	flex: 1;
	margin: 2px;
	padding: 10px;
	min-height: 43.750;
}

.mainContent .column img {
	margin-bottom: 41px;
}

.column .title {
	text-transform: uppercase;
	color: #53514D;
	font-size: 2em;
	font-family: Source Sans Pro;
	font-weight: bold;
	margin: 0;
}

.column .list {
	margin: 0;
	margin-top: 28px;
	list-style: none;
}

.column ul {
	padding: 0px;
}

.column ul li {
	font-family: SourceSansPro-Regular;
	font-size: 1.5em;
	color: #53514D;
	font-weight: 400;
	line-height: 1.95;
}


.line {
    max-width: 855px;
    margin: 0 auto;
}

.line img {
    width: 100% !important;
}

.information p {
	font-size: 1.125em;
	font-family: SourceSansPro-Regular;
	color: #53514D;
	text-align: left;
}

footer {
	padding: 17px 0;
	height: 50px;
	background-color: #53514D;
    margin: 0px auto;
    display: table;
  	table-layout: fixed;
  	width: 100%;
}

footer ul {
	list-style: none;
	display: flex;
	display: flex;
  	flex-direction: row;
  	padding: 0;
}

footer ul li {
	text-align: center;
	flex-grow: 1;
}

footer ul li a {
    margin: 0px 10px;
    padding: 10px;
    border-radius: 5px;
    list-style: none;
  	display: block;
}

footer ul li, footer ul li a {
	color: #FFF;
	font-family: SourceSansPro-Regular;
}

footer .subMenu {
	display: block;
}




@media only screen and (max-width: 900px){
	.flex-container {
		display: flex;
	}

	.clickButton {
		font-size: 1.2em;
		padding: 10px;
	}

	.mainContent .columns {
		display: block;
	}

	footer ul.menu {
    display: block;
	}

	.subContents {
		margin-top: 1em;
	}

	.subContents p {
		margin-bottom: 1em;
	}

	p.secondText {
		margin-bottom: 0;
		padding-bottom: 1em;
	}
}



