@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Semi Bold'), local('Source-Sans-Pro-Semi-Bold'),
        url('SourceSansPro-SemiBold.woff2') format('woff2'),
        url('SourceSansPro-SemiBold.woff') format('woff'),
        url('SourceSansPro-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }