@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Bold'), local('Source-Sans-Pro-Bold'),
        url('SourceSansPro-Bold.woff2') format('woff2'),
        url('SourceSansPro-Bold.woff') format('woff'),
        url('SourceSansPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }